<template lang="pug">
    main.site-main
        index-description
        index-hemisphere(
            :candidates="candidates" 
            @electedChanged="elected = $event"
            @scenarioChanged="selectedScenario = $event"
            @selectedCantonsChanged="selectedCantons = $event"
        )
        index-repartitions(
            :elected="elected"
            :selectedScenario="selectedScenario"
            :candidates="candidates"
            :selectedCantons="selectedCantons"
        )
        index-bars(v-if="selectedCantons[0]" :selectedCantons="selectedCantons" :candidates="candidates")
</template>

<script>
import candidates from '@/assets/data/elected_candidates.json';

import IndexBars from '@/components/IndexBars.vue';
import IndexDescription from '@/components/IndexDescription.vue';
import IndexHemisphere from '@/components/IndexHemisphere.vue';
import IndexRepartitions from '@/components/IndexRepartitions.vue';

export default {
    components: { IndexDescription, IndexHemisphere, IndexRepartitions, IndexBars },
    
    data () {
        return {
            elected: [],
            selectedScenario: 'scenarioBase',
            selectedCantons: [],
            candidates
        }
    },

    methods: {
        
    }
};
</script>