<template lang="pug">
    transition(name="fade")
        article.card#candidate-card(v-if="candidate" v-scroll-to) 
            header
                span.card__party(:style="{ backgroundColor: color }")
                section.card__name
                    span.card__name__party(:style="{ color: color }") {{ $efc(candidate) }}
                    span {{ candidate.firstName }} {{ candidate.lastName }}
                i.icon-general.close-modal(@click="$emit('close')")
                    span.path1
                    span.path2
                    span.path3
            figure(v-if="candidate.imageUrl")
                img(:src="candidate.imageUrl" :alt="`${candidate.firstName} ${candidate.lastName}`")
            section.card__basics
                div.card__basics__details: strong {{ candidate.incumbent === 'new' ? $t('newElection') : $t('incumbent') }}
                div.card__basics__details {{ candidate.urbanRural === 'urban' ? $t('urbanArea') : $t('ruralArea') }}
            section.card__body
                div.card__body__details
                    span {{ $t('votes') }}
                    h4 {{ candidate.votes }}
                div.card__body__details
                    span {{ $t('canton') }}
                    h4 {{ getCantonReadable(candidate.districtCode) }}
                div.card__body__details
                    span {{ $t('ageGroup') }}
                    h4 {{ candidate.ageGroup }}
                div.card__body__details
                    span {{ $t('gender') }}
                    h4 {{ candidate.gender === 'f' ? $t('female') : $t('male') }}
</template>

<script>
import cantons from '@/assets/data/cantons.json';

export default {
    props: {
        candidate: { type: Object },
        color: { type: String },
    },

    directives: {
        'scroll-to': {
            inserted (el, binding) {
                const hemiContainer = document.querySelector('.site-hemisphere__main');
                const cardContainer = document.querySelector('.site-hemisphere__candidate');
                if (hemiContainer.getBoundingClientRect().top !== cardContainer.getBoundingClientRect().top) {
                    el.scrollIntoView({ behavior: 'smooth' });
                }
            },
            update (el, binding) {
                const hemiContainer = document.querySelector('.site-hemisphere__main');
                const cardContainer = document.querySelector('.site-hemisphere__candidate');
                if (hemiContainer.getBoundingClientRect().top !== cardContainer.getBoundingClientRect().top) {
                    el.scrollIntoView({ behavior: 'smooth' });
                }
            }
        }
    },

    methods: {
        getCantonReadable (code) {
            const canton = cantons.filter(c => c.codeElected === code)[0];
            return canton?.[`name${this.$root.$i18n.locale}`];
        }
    }
}
</script>

<style scoped>
.card {
    border-radius: 50px;
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(2px);
    transition: opacity .1s ease-in-out;
    overflow: hidden;
    border: 1px solid var(--fair-gray);
    min-width: 430px;
    max-width: 100%;
}

.close-modal {
    font-size: 32px;
    cursor: pointer;
}

.card > header {
    padding: 15px;
    display: flex;
    align-items: center;
}

.card__party {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}

.card__name {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card__name__party {
    font-weight: 800;
    font-size: smaller;
}

.card > figure {
    padding: 0;
    margin: 0;
    width: 300px;
    height: 400px;
    min-width: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card__basics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
}

.card__basics {
    margin: 30px 0 15px 0;
}

.card__body {
    margin-bottom: 30px;
    display: grid;
    grid-gap: 15px;
    grid-template-areas: 
    "a b"
    "c d";
    justify-content: space-between;
    padding: 0 30px;
}

.card__body__details {
    width: max-content;
}

.card__body__details h4 { 
    margin: 0;
}

@media(max-width: 450px) {
    .card {
        min-width: 100%;
    }
}
</style>