<template lang="pug">
    transition(name="fade")
        aside.card#candidate-small.elevation-fair(v-if="candidate" :style="{ top, left }" v-observe="observer") 
            header
                span.card__party(:style="{ backgroundColor: color }")
                section.card__name
                    span.card__name__party(:style="{ color: color }") {{ $efc(candidate.party) }}
                    span {{ candidate.firstName }} {{ candidate.lastName }}
</template>

<script>
export default {
    props: {
        candidate: { type: Object },
        color: { type: String },
        hoveredTop: { type: Number, default: 0 },
        hoveredLeft: { type: Number, default: 0 },
    },
    data () {
        return {
            observer: null,
            height: 0,
            width: 0
        }
    },
    directives: {
        observe: {
            inserted (el, binding) {
                binding.value.disconnect();
                binding.value.observe(el);
            }
        }
    },
    computed: {
        top () { 
            const value = Math.min(this.hoveredTop, window.innerHeight + window.scrollY - this.height) - this.height / 2;
            return `${value}px`;
        },
        left () { 
            const value = Math.min(this.hoveredLeft, window.innerWidth + window.scrollX - this.width);
            return `${value}px`;
        }
    },
    mounted () {
        const callback = (resize) => {
            if (resize[0].contentRect) {
                this.height = resize[0].contentRect.height;
                this.width = resize[0].contentRect.width;
            }
        }
        this.observer = new ResizeObserver(callback);
    }
}
</script>

<style scoped>
.card {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    border-radius: 50px;
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(2px);
    pointer-events: none;
    transition: opacity .1s ease-in-out;
    overflow: hidden;
}

.card > header {
    padding: 15px;
    display: flex;
    align-items: center;
}

.card__party {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}

.card__name { 
    display: flex;
    flex-direction: column;
}

.card__name__party {
    font-weight: 800;
    font-size: smaller;
}
</style>