<template lang="pug">
    div.canton-table-container
        h3 {{ $t('candidatesList') }}
        div.wrapper
            table.canton-table
                thead
                    tr
                        th.separator(colspan="5")
                        th(colspan="2") {{ $t('gender') }}
                        th(colspan="2") {{ $t('location') }}
                        th(colspan="6") {{ $t('age') }}
                    tr.columns
                        td
                        td(
                            v-for="column in columns" :key="column.check || column.name" 
                            :class="{ separator: column.separator, start: column.start, end: column.end }"
                        ) {{ column.variableName || column.name }}
                tbody
                    tr.candidate(v-for="(candidate, index) in sortedCandidates" :key="candidate.IDCandidate" :class="{ disabled: !candidate[selectedScenario] }")
                        td {{ index+1 }}
                        td(
                            v-for="column in columns" 
                            :key="column.check || column.name"
                            :class="{ separator: column.separator, start: column.start, end: column.end }"
                        )
                            span(v-if="!column.check && column.displayStyle === 'string'") {{ getColumnValue(column, candidate) }}
                            span.colored(v-if="!column.check && column.displayStyle === 'coloredString'" :style="{ background: column.getColor(column, candidate) }") {{ getColumnValue(column, candidate) }}
                            span(v-if="!column.check && column.displayStyle === 'check'")
                                i.icon-general.full(:class="{ checked: getColumnValue(column, candidate), close: !getColumnValue(column, candidate) }")
                            span(v-if="!column.check && column.displayStyle === 'number'") {{ Number(getColumnValue(column, candidate)).toLocaleString() }}
                            span.badge(v-if="column.check" :class="{ inactive: !checkColumnValue(column, candidate) }") {{ column.variableName }}
</template>

<script>
import repartitions from '@/assets/data/repartitions';
import parties from '@/assets/data/parties.json';

export default {
    props: {
        candidates: { type: Array, required: true },
        selectedScenario: { type: String, required: true }
    },

    data () {
        return { repartitions }
    },

    mounted () {
        console.log(this.$efc(this.candidates[0]), 'test');
    },

    computed: {
        sortedCandidates () {
            return [...this.candidates]
                .sort((a, b) => +a.votes > +b.votes ? -1 : 1)
        },
        columns () {
            const c = [
                { name: this.$t('name'), value: this.getName, displayStyle: 'string' }, 
                { name: this.$t('elected'), value: this.checkScenario, displayStyle: 'check' },
                { name: this.$t('party'), value: this.getParty, displayStyle: 'coloredString', getColor: this.getColor },
                { name: this.$t('votes'), value: 'votes', displayStyle: 'number', separator: true }
            ]

            repartitions.forEach(repartition => {
                repartition.variables.forEach((variable, i) => {
                    c.push({ 
                        name: repartition[`name${this.$root.$i18n.locale}`],
                        value: repartition.field,
                        check: variable.value,
                        variableName: repartition.id !== 'gender' ? variable[`name${this.$root.$i18n.locale}`] : variable[`name${this.$root.$i18n.locale}`].substr(0,1),
                        start: i === 0,
                        end: (i+1) === repartition.variables.length,
                        displayStyle: 'badge'
                    });
                })
            });

            return c;
        }
    },

    methods: {
        getName(candidate) { return `${candidate.firstName} ${candidate.lastName}` },
        checkScenario(candidate) { return candidate[this.selectedScenario] },
        checkColumnValue(column, candidate) {
            if (typeof column.value === 'function') return column.value(candidate) === column.check;
            else return candidate[column.value] === column.check;
        },
        getColumnValue(column, candidate) {
            if (typeof column.value === 'function') return column.value(candidate);
            else return candidate[column.value];
        },
        getParty(candidate) { return this.$efc(candidate) },
        getColor(column, candidate) {
            const party = parties.filter(p => p.id === candidate.groupedparty)[0];
            return party?.color || 'rgb(204, 204, 204)';
        }
    }
}
</script>

<style scoped>
.full {
    background: white;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    height: 33px;
    width: 33px;
    display: block;
    border: 1px solid var(--fair-green);
}

.canton-table-container {
    width: 100%;
}

.wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.canton-table {
    border-collapse: collapse;
    width: calc(100% + 30px);
    margin: 0 -15px;
}

.columns > td::first-letter{
    text-transform: capitalize;
}

.separator {
    border-right: 1px solid black;
}

thead > tr:after {
    content: "";
    display: block;
    height: 30px;
}

thead td {
    font-size: smaller;
    padding-bottom: 30px;
}

td {
    padding: 15px;
}

td:nth-of-type(2) {
    font-weight: 800;
}

td:not(:nth-of-type(2)) {
    text-align: center;
}

tr.candidate {
    border-top: 1px solid black;
}

tbody > tr:nth-of-type(odd) {
    background: #e0eaf1;
}

td.start {
    padding-left: 45px;
}

td.end {
    padding-right: 45px;
}

.badge {
    display: block;
    background: var(--fair-blue);
    border-radius: 15px;
    height: 48px;
    width: 48px;
    color: white;
    line-height: 48px;
    text-transform: capitalize;
    font-weight: 800;
    font-size: x-small;
}

.badge.inactive {
    border: 1px solid var(--fair-gray);
    background: transparent;
    color: transparent;
}

tr.disabled {
    opacity: .5;
    filter: grayscale(1)
}

.colored {
    padding: 5px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

</style>