<template lang="pug">
    svg(:viewBox="`0 0 ${width} ${this.scenarios.length * height}`")
        g.legends
            transition-group(name="fade" tag="g" mode="out-in"): text.legend(
                v-for="(scenario, index) in scenarios" 
                :key="scenario.id" :y="height * index + 7 + margin.top"
                alignment-baseline="middle"
            ) {{ scenario.name }}

        g.links(:transform="`translate(${margin.left},0)`")
            transition-group(name="fade" tag="g" mode="out-in"): g(v-for="(link, index) in links" :key="link.id")
                line.link(
                    v-for="variable in link.variables"
                    stroke-dasharray="5,1"
                    :x1="variable.x1" :x2="variable.x2"
                    :y1="variable.y1" :y2="variable.y2"
                    :style="{ stroke: variable.fill }"
                )
        g.bars(:transform="`translate(${margin.left},0)`")
            transition-group(name="fade" tag="g" mode="out-in"): g(v-for="scenario in scenarios" :key="scenario.id")
                g.bar(
                    v-for="(variable, index) in scenario.variables"
                    :key="index"
                    @mouseover="$emit('overBar', { event: $event, bar: variable })"
                    @mouseout="$emit('overBar')"
                )
                    rect(
                        :x="variable.x" :y="variable.y" rx="5"
                        :width="variable.width" :height="variable.height"
                        :style="{ fill: variable.fill }"
                    )
                    text.label(
                        alignment-baseline="middle"
                        text-anchor=""
                        :x="variable.x + 5" :y="variable.y + 7"
                        :style="{ fill: variable.textFill }"
                    ) {{ variable.id }}
</template>

<script>
const width = 500;
const height = 30;
const margin = { left: 100, top: 10 };

class Scenario {
    id;
    name;
    variables;
    width = width;
    height = height;
    margin = margin;

    constructor (scenario, index, locale) {
        this.id = scenario.id;
        this.name = scenario[`name${locale}`];    
        this.variables = scenario.variables.reduce(
            (base, variable, idx, variables) => {
                const x = idx === 0 ? 0 : base[variables[idx - 1].name].totalWidth;
                const width = variable.number / scenario.max * ( this.width - this.margin.left );
                base[variable.name] = {
                    x, width,
                    totalWidth: x + width,
                    y: this.margin.top + this.height * index,
                    height: this.height - 2 * this.margin.top,
                    fill: variable.fill,
                    textFill: variable.textFill,
                    id: variable.name,
                    number: variable.number
                }
                return base;
            }, {}
        )
    }
}

class Line {
    constructor (scenario1, scenario2) {
        this.id = scenario1.id;
        this.variables = Object.keys(scenario1.variables).map((v,i) => {
            const variable = {};
            variable.x1 = scenario1.variables[v].x + scenario1.variables[v].width;
            variable.x2 = scenario2.variables[v].x + scenario2.variables[v].width;
            variable.y1 = scenario1.variables[v].y + height - margin.top * 2 - 2;
            variable.y2 = scenario2.variables[v].y + 2;
            variable.fill = scenario1.variables[v].fill;
            return variable;
        })
    }
}

export default {
    props: {
        rawScenarios: { type: Array, required: true }
    },
    data () {
        return {
            width, height, margin
        }
    },
    computed: {
        scenarios () {
            return this.rawScenarios.map((r,i) => new Scenario(r, i, this.$root.$i18n.locale));
        },
        links () {
            return this.scenarios.reduce(
                (base, scenario, index, scenarios) => {
                    if(scenarios[index+1]) {
                        base.push(new Line(scenario, scenarios[index+1]));
                    }
                    return base;
                }, []
            )
        }
    }
}
</script>

<style scoped>
.label, .legend {
    stroke: none;
    font-size: 4.5px;
    font-weight: 500;
}

.label:first-letter, .legend:first-letter {
    text-transform: capitalize;
}

.label {
    fill: white;
}

.links {
    opacity: .3;
    stroke-width: 4;

}
</style>