<template lang="pug">
    transition(name="fade")
        aside.tooltip.elevation-fair(v-if="value" :style="{ top, left }" v-observe="observer")
            slot
</template>

<script>
export default {
    props: {
        value: { type: Object },
        hoveredTop: { type: Number, default: 0 },
        hoveredLeft: { type: Number, default: 0 },
    },
    data () {
        return {
            observer: null,
            height: 0,
            width: 0
        }
    },
    directives: {
        observe: {
            inserted (el, binding) {
                binding.value?.disconnect();
                binding.value?.observe(el);
            }
        }
    },
    computed: {
        top () { 
            const value = Math.min(this.hoveredTop, window.innerHeight + window.scrollY - this.height) - this.height / 2;
            return `${value}px`;
        },
        left () { 
            const value = Math.min(this.hoveredLeft, window.innerWidth + window.scrollX - this.width);
            return `${value}px`;
        }
    },
    mounted () {
        const callback = (resize) => {
            if (resize[0].contentRect) {
                this.height = resize[0].contentRect.height;
                this.width = resize[0].contentRect.width;
            }
        }
        this.observer = new ResizeObserver(callback);
    }
}
</script>

<style scoped>
.tooltip {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    border-radius: 50px;
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(2px);
    pointer-events: none;
    transition: opacity .1s ease-in-out;
    overflow: hidden;
    padding: 15px;
}
</style>