<template lang="pug">
    svg(:style="{ width, height }" viewBox="0 0 441.06042 86.254227")
        path(:style="{ fill: color }" transform="translate(84.458781,-282.59908)" d="m -84.458781,348.87622 v -19.97705 l 4.34826,-4.59013 c 6.83451,-7.21468 15.6455,-15.15052 22.501882,-20.26687 31.364438,-23.40472 65.2771896,-27.49391 108.087348,-13.03312 10.9337,3.69328 22.15756,8.47839 35.14788,14.98471 25.975611,13.01013 55.672981,24.16151 81.777621,30.70755 28.47522,7.1405 53.84157,10.1877 84.8193,10.18912 13.38284,5.3e-4 22.7284,-0.33723 48.15417,-1.74082 10.28075,-0.56751 28.77074,-0.77871 34.925,-0.39889 7.60288,0.46922 11.65135,0.95095 18.32239,2.1802 l 2.97657,0.54848 v 10.68696 10.68694 H 136.07143 -84.458781 Z")
</template>

<script>
export default {
    props: {
        color: { type: String, default: '#00b38a' },
        width: { type: String, default: '100%' },
        height: { type: String, default: '100%' }
    }
}
</script>