<template lang="pug">
section.site-description
    div.site-description__main
        h2 {{$t('welcome')}}
        div(v-html="$t('welcomeText')")
    aside.site-description__disclaimer
        h3 {{$t('disclaimer')}}
        p {{$t('disclaimerText')}}
</template>

<style scoped>
.site-description {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--fair-content-width);
    padding: 0 var(--fair-content-margin);
    margin: 30px auto;
    align-items: center;
}

.site-description__main {
    flex: 2;
    font-size: smaller;
}

.site-description__disclaimer {
    flex: 1;
    background-color: var(--fair-green--light);
    border: 1px solid var(--fair-green);
    padding: 30px 30px 30px 60px;
    border-radius: 45px;
    color: var(--fair-green);
    font-size: smaller;
    position: relative;
    margin-left: 15px;
}

.site-description__disclaimer > h3 {
    color: black;
    margin: 0;
}

.site-description__disclaimer > p {
    margin: 0;
}

.site-description__disclaimer::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 17.5px;
    background-image: url('/alert-outline.svg');
    height: 25px;
    width: 25px;
}

@media(max-width: 960px) {
    .site-description {
        display: block;
    }

    .site-description__disclaimer {
        margin: 30px 0;
    }
}
</style>