<template lang="pug">
section.site-hemisphere
    header.site-hemisphere__header
        div.site-hemisphere__options
            label.select(for="scenarioSelector")
                span {{ $t('selectScenario') }}
                select#scenarioSelector(v-model="selectedScenario")
                    option(v-for="scenario in scenarios" :key="scenario.id" :value="scenario.id") {{ $tc('resultsBy', isInvertedScenarioName(scenario.id) ? 1 : 0, { scenario: scenario[`name${$root.$i18n.locale}`] }) }}
            label.select(for="cantonsSelector")
                span {{ $t('selectCanton') }}
                select#cantonsSelector(v-model="selectedCantons")
                    option(:value="null") {{ $t('allCantons') }}
                    option(v-for="canton in cantons" :key="canton.code" :value="canton.code") {{ canton[`name${$root.$i18n.locale}`] }}
        div.repartition-summaries
            h3 {{ $t('nationalComposition') }}
            div.repartition-summaries__summaries
                div.repartition-summary(v-for="repartition in repartitions" :key="repartition[`name${$root.$i18n.locale}`]")
                    i.icon: img(:src="repartition.icon")
                    div(v-for="(variable, index) in repartition.variables" :key="index") {{ variable[`name${$root.$i18n.locale}`] }} : #[strong {{getRepartitionValues(repartition, variable)}}]

    div.site-hemisphere__main
        header.legend
            div.legend__item(v-for="party in parties" :key="party.id")
                div.legend__item__color(:style="{ background: party.color }")
                span {{ party[[`name${$root.$i18n.locale}`]] }}

        candidate-small(:candidate="hoveredCandidate" :color="hoveredCandidate ? getColor(hoveredCandidate) : null" :hoveredTop="hoveredTop" :hoveredLeft="hoveredLeft")

        section.hemisphere
            svg#hemisphere.visu(:viewBox="`0 0 500 ${rejectedHeight + 2}`")
                defs
                    linearGradient(id="rejected" x1="0%" y1="0%" x2="0%" y2="100%")
                        stop(offset="0%" style="stop-color:rgba(210,210,210,.2);stop-opacity:1")
                        stop(offset="100%" style="stop-color:rgba(210,210,210,.8);stop-opacity:1")
                g.new-label(v-show="selectedScenario !== 'scenarioBase'" transform="translate(16,16)")
                    circle.new(r="8")
                    text(y=".5em" x="8") {{ $t('hemisphereElectedLineOne') }}
                        tspan(dy="1.5em" x="8") {{ $t('hemisphereElectedLineTwo') }} 
                        tspan(dy="1.5em" x="8") {{ $t('hemisphereElectedLineThree') }}
                g.general-leads
                    path.lead(v-for="(g, i) in rows" :key="i" :id="`path${i}`" :d="`M${20 * (i+1)},240 A67,67 0 0,1 ${500 - 20 * (i+1)},240`")
                g.rejected-leads(v-show="selectedScenario !== 'scenarioBase'")
                    path#curve(:d="`M140,255 L170,255 A67,67 0 0,1 330,255 L360,255 L360,${rejectedHeight} L250,${rejectedHeight} L140,${rejectedHeight} L140,255`")
                    text.rejected-explanations(x="250" y="210" width="30" text-anchor="middle") {{ $t('hemisphereRejectedLineOne') }}
                        tspan(dy="1.5em" x="250") {{ $t('hemisphereRejectedLineTwo') }}
                        tspan(dy="1.5em" x="250") {{ $t('hemisphereRejectedLineThree') }}
                g.sieges
                    g.siege(v-for="candidate in sortedCandidates" 
                            :key="candidate.IDCandidate" 
                            :style="{ transform: `translate(${candidate.x}px, ${candidate.y}px)`, opacity: candidate.x === 0 ? 0 : null }"
                            :class="{ active: isRelevant(candidate) }"
                            @mouseover="hoverCandidate($event, candidate)"
                            @mouseout="hoverCandidate($event)"
                            @click="clickCandidate(candidate)"
                    )
                        circle(
                            :r="hoveredCandidate === candidate ? 10 : 8"
                            :style="{ fill: getColor(candidate) }" 
                            :class="{ new: candidate.new }"
                            :__data__.prop="candidate"
                        )
                        text.siege--text(v-show="!candidate.active" :y="4") {{ candidate.lastName.substr(0,1) }}

    aside.site-hemisphere__candidate
        transition(name="fade" mode="out-in")
            candidate-card(v-if="selectedCandidate" :candidate="selectedCandidate" :color="getColor(selectedCandidate)" @close="selectedCandidate = null" :key="selectedCandidate.IDCandidate")
            p(v-else) {{ $t('clickASiege') }}
</template>

<script>
import candidates from '@/assets/data/elected_candidates.json';
import createNodes from '@/assets/hemisphere.js';
import scenarios from '@/assets/data/scenarios';
import cantons from '@/assets/data/cantons.json';
import parties from '@/assets/data/parties.json';
import repartitions from '@/assets/data/repartitions';

import CandidateCard from '@/components/CandidateCard.vue';
import CandidateSmall from '@/components/CandidateSmall.vue';

// Assign their respective members to each party, then sort parties by order
parties.forEach(p => p.candidates = candidates.filter(c => c.groupedparty === p.id || (!c.groupedparty && p.id === 'party_abbr_13')));
parties.sort((a,b) => a.order > b.order ? 1 : -1);

/**
 * The list of regular rows that compose the hemisphere.
 * Each row is composed of a variable amount of sieges
 * @type {Array[]} 
 **/
const rows = []
rows.push(createNodes(34, 200));
rows.push(createNodes(31, 180));
rows.push(createNodes(29, 160));
rows.push(createNodes(26, 140));
rows.push(createNodes(24, 120));
rows.push(createNodes(21, 100));
rows.push(createNodes(19, 80));
rows.push(createNodes(16, 60));

export default {
    components: { CandidateCard, CandidateSmall },

    props: {
        candidates: { type: Array, required: true }
    },

    data () {
        return {
            selectedScenario: 'scenarioBase',
            selectedCantons: null,
            elected: [],
            rejected: [],
            hoveredCandidate: null,
            selectedCandidate: null,
            hoveredTop: 0,
            hoveredLeft: 0,
            columnsOfRejected: 0,
            cantons, parties, rows, scenarios, repartitions
        }
    },

    computed: {
        sortedCandidates () {
            return this.elected.concat(this.rejected);
        },
        rejectedHeight () {
            return Math.min(370, 270 + this.columnsOfRejected * 20 + 15);
        }
    },

    methods: {
        getRepartitionValues (repartition, variable) {
            return this.elected.filter(e => e[repartition.field] === variable.value).length
        },
        hoverCandidate (event, candidate) {
            this.hoveredCandidate = candidate;
            this.hoveredLeft = event.pageX;
            this.hoveredTop = event.pageY;
        },
        clickCandidate (candidate) {
            if (this.selectedCandidate === candidate) this.selectedCandidate = null;
            else this.selectedCandidate = candidate;
        },
        getColor (candidate) {
            const party = parties.filter(p => p.id === candidate.groupedparty)[0];
            return party?.color || 'rgb(204, 204, 204)';
        },
        isRelevant (candidate) {
            if (!this.selectedCantons) return true;
            if (this.selectedCantons === candidate.districtCode.substr(7)) return true;
            else return false;
        },
        isInvertedScenarioName (id) {
            return this.$root.$i18n.locale === 'en' && id === 'scenarioBase'
        },
        computePos () {
            this.rows.forEach((r, i) => {
                const path = document.querySelector(`#path${i}`);
                const distanceUnit = path.getTotalLength() / (r.length-1);
                r.forEach((s, sI) => {
                    const position = path.getPointAtLength(sI * distanceUnit);
                    s.x = position.x;
                    s.y = position.y;
                    s.active = true;
                })
            })
        },
        assignSiege () {
            const orderedRows = [];
            const maxSiegesByRow = 34;

            function ci (r, i) {
                const entry = r[Math.floor(r.length / maxSiegesByRow * i)];
                return entry;
            }

            for (let i = 0; i < maxSiegesByRow; i++) {
                const row = [];
                this.rows.forEach(r => {
                    const entry = ci(r, i);
                    if (!entry.dispatched) row.push(entry);
                    entry.dispatched = true;
                })
                orderedRows.push(row);
            }

            this.sortedCandidates.forEach(c => {
                c.x = null;
                c.y = null;
            })

            const flatRows = [].concat(...orderedRows);

            flatRows.forEach((r, i) => {
                this.sortedCandidates[i].x = r.x;
                this.sortedCandidates[i].y = r.y;
                r.dispatched = false;
            })

            let row = 0;
            let column = 0;

            this.sortedCandidates.filter(c => !c.x)
                .forEach((c, i) => {
                    if (this.selectedScenario === 'scenarioBase') {
                        c.x = 0;
                        c.y = 0;
                    } else {
                        c.x = 160 + 20 * row++;
                        c.y = 270 + 20 * column;
                        if (row > (9)) { 
                            column += 1; 
                            row = 0; 
                        }
                    }
                })

            this.columnsOfRejected = column;
        }
    },

    mounted () {
        this.elected = [].concat(...parties.map(p => p.candidates)).filter(c => c['scenarioBase']);
        this.rejected = [].concat(...parties.map(p => p.candidates)).filter(c => !c['scenarioBase']);
        this.computePos();
        this.assignSiege();
    },

    watch: {
        selectedCantons () { 
            this.$emit('selectedCantonsChanged', [this.selectedCantons]);
            if (this.selectedCandidate?.districtCode.substr(-2) !== this.selectedCantons) this.selectedCandidate = null; 
        },
        elected () { this.$emit('electedChanged', this.elected)},
        selectedScenario (newScenario, previousScenario) {
            console.log('scenario changed')
            this.candidates.forEach(c => c.new = false); // remove the "new" tag
            this.elected = [].concat(...parties.map(p => p.candidates)).filter(c => c[newScenario]); // define the new composition
            const baseSieges = [].concat(...parties.map(p => p.candidates)).filter(c => c['scenarioBase']); // base composition for reference

            this.elected.filter(elected => !baseSieges.includes(elected)).forEach(e => e.new = true); // set the "new" tag
            this.rejected = baseSieges.filter(rejected => !this.elected.includes(rejected)); // set the rejected candidates for the new composition

            this.assignSiege();
            this.$emit('scenarioChanged', newScenario);
        }
    }
}
</script>

<style scoped>
.options {
    margin-bottom: 30px;
}

.legend {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 2rem;
    overflow-x: auto;
    scrollbar-width: none;
    position: relative;
}

.legend__item {
    margin: 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.legend__item__color {
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
}

.canton-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.lead {
    opacity: 1;
    stroke: transparent;
    stroke-width: 1;
    fill: transparent;
}

.new-label {
    font-size: x-small;
    font-weight: 500;
}

.siege {
    opacity: .2;
    transition: opacity .2s ease-in-out, transform 1s ease-in-out;
    pointer-events: none;
}

.siege.active {
    opacity: 1;
    pointer-events: all;
}

.siege:hover {
    cursor: pointer;
}

.siege > .new, .new-label .new {
    animation: rotateDash 2s infinite;
    stroke: white;
    filter: drop-shadow(0 0 5px rgba(0,0,0,.2));
}

.siege--text {
    fill: white;
    pointer-events: none;
    text-anchor: middle;
    font-size: 12px;
}

.selected-cantons {
    margin-top: 15px;
}

.site-hemisphere {
    display: flex;
    max-width: var(--fair-content-width);
    padding: 0 var(--fair-content-margin);
    margin: auto;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.site-hemisphere__header {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.scenario-selector {
    flex: 0 350px;
    margin: 0 15px 15px 0;
}

.repartition-summaries {
    flex: 1;
}

.repartition-summaries__summaries {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    flex-wrap: wrap;
    align-items: stretch;
}

.repartition-summary {
    position: relative;
    flex: 1 0;
    background-color: var(--fair-gray--light);
    padding: 30px 30px 30px 75px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, auto));
    grid-gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.repartition-summary > .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    width: 50px;
    height: 50px;
}

.repartition-summary > div {
    width: max-content;
}

.site-hemisphere__options {
    flex: 0 350px;
    margin: 0 15px 15px 0;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
}

.canton-nav {
    flex: 1;
    overflow: hidden;
}

.canton-nav > select {
    height: 100%;
}

.site-hemisphere__main {
    flex: 1 1;
    max-width: 100%;
}

.rejected-leads {
    fill: var(--fair-green--light);
    stroke: var(--fair-green);
}

.rejected-explanations {
    font-size: x-small;
    stroke-width: 0;
    fill: var(--fair-green);
    font-weight: 500;
}

.site-hemisphere__candidate {
    margin-left: 30px;
    flex: 0 0 430px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1264px) {
    .site-hemisphere__options {
        width: 100%;
        flex: 0 0 100%;
        margin-right: auto;
    }
    .site-hemisphere__options__drawer {
        display: block;
    }
}

@media(max-width: 600px) {
    .legend {
        justify-content: flex-start;
    }
    .legend::after {
        flex: 0 0 50px;
        content: "Scroll";
        position: sticky;
        right: 0;
        top: 0;
        background: linear-gradient(to right, rgba(255,255,255,0), white);
        color: transparent;
    }
    .site-hemisphere__candidate {
        margin: auto;
    }
}
</style>