<template lang="pug">
    section.bars(property="graphs")
        h2 {{ $t('compareTitle', { canton: canton[`name${$root.$i18n.locale}`] }) }}
        header.bars__header
            p {{ $tc('repartitionOfSieges', filteredCandidates.filter(c => c.scenarioBase ).length, { canton: canton[`name${$root.$i18n.locale}`] }) }}
            nav 
                small {{ $t('filterScenarios') }}
                label.checkbox(v-for="scenario in scenarios" :key="scenario.id" v-if="scenario.id !== 'scenario_base' || comparison !== 'simu'") 
                    span {{ scenario[`name${$root.$i18n.locale}`] }}
                    input(type="checkbox" :value="scenario.id" v-model="selected")

        main.bars__body
            fair-tooltip(:value="hoveredBar" :hoveredTop="hoveredTop" :hoveredLeft="hoveredLeft")
                div(v-if="hoveredBar")
                    span {{ hoveredBar.id }} : 
                    span {{ hoveredBar.number }}
            section(v-for="repartition in computedRepartitions" :key="repartition.id")
                h4 {{ repartition[`name${$root.$i18n.locale}`] }}
                dimension-bar-view(:rawScenarios="repartition.scenarios" @overBar="hoverBar")
</template>

<script>
import cantons from '@/assets/data/cantons.json';
import scenarios from '@/assets/data/scenarios';
import repartitions from '@/assets/data/repartitions';
import DimensionBarView from '@/components/DimensionBarView.vue';
import FairTooltip from '@/components/FairTooltip.vue';

export default {
    components: { DimensionBarView, FairTooltip },
    props: {
        candidates: { type: Array },
        selectedCantons: { type: Array }
    },
    data () {
        return {
            selected: ['scenarioBase', 'scenarioGender', 'scenarioGenderAge', 'scenarioAgeUrban'],
            comparison: 'simu',
            hoveredBar: null,
            hoveredTop: 0,
            hoveredLeft: 0,
            scenarios, repartitions
        }
    },
    computed: {
        computedRepartitions () {
            return this.repartitions.map(r => {
                const variables = (pool) => {
                    return r.variables.map((v, i) => {
                        const variable = {};
                        variable.name = v[`name${this.$root.$i18n.locale}`];
                        variable.fill = r.colors[i];
                        variable.textFill = r.colors.textColor[i];
                        variable.number = pool.filter(c => c[r.field] === v.value).length;
                        return variable;
                    })
                }

                r.scenarios = JSON.parse(JSON.stringify(this.selectedScenarios));
                r.scenarios.forEach((s) => {
                    const pool = this.filteredCandidates.filter(c => c[s.id]);
                    s.max = pool.length;
                    s.variables = variables(pool);
                });
                return r
            })
        },
        filteredCandidates () {
            return this.selectedCantons.length ? 
                this.candidates.filter(c => this.selectedCantons.includes(c.districtCode.substr(7))) :
                this.candidates;
        },
        selectedScenarios () {
            return this.scenarios.filter(s => this.selected.includes(s.id));
        },
        canton () {
            return cantons.filter(c => c.code === this.selectedCantons[0])[0];
        }
    },
    methods: {
        bWidth (b, s) {
            if (this.comparison === 'simu') return b;
            else return this.selectedScenario === 'scenario_base' ? b : s;
        },
        hoverBar ({ event, bar } = {}) {
            this.hoveredBar = bar;
            this.hoveredLeft = event?.pageX ?? 0;
            this.hoveredTop = event?.pageY ?? 0;
        },
    },
    watch: {
        comparison () {
            if (this.comparison === 'simu' && this.selectedScenario === 'scenario_base') this.selectedScenario = 'scenario_genders';
        }
    }
}
</script>

<style scoped>
.bars {
    max-width: var(--fair-content-width);
    padding: 0 var(--fair-content-margin);
    margin: auto;
}

.bars__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.bars__header > h2 {
    margin: 0;
}

.bars__header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.bars__header > nav > small {
    margin-top: 5px;
    width: 100%;
}

.bars__tooltip {
    position: absolute;
    z-index: 100;
    border-radius: 50px;
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(2px);
    pointer-events: none;
    transition: opacity .1s ease-in-out;
    overflow: hidden;
    padding: 15px;
}

.bars__footer {
    margin-top: 30px;
    text-align: center;
}

@media(max-width: 600px) {
    .bars__header {
        text-align: center;
    }

    .bars__header > p {
        margin: auto auto 15px;
    }

    .bars__header > nav {
        display: block;
        text-align: center;
        margin: auto;
    }

    .bars__header > nav > .checkbox {
        margin: auto auto 15px;
    }
}
</style>