<template lang="pug">
section.repartitions
    div.wrapper
        h2(v-if="selectedCantons[0]" v-html="$tc('detailsCanton', selectedScenario ? 2 : 1, { canton: getCantonName(selectedCantons[0]), scenario: scenario[`name${$root.$i18n.locale}`] })")

        div.repartition(v-for="repartition in repartitions" :key="repartition[`name${$root.$i18n.locale}`]")
            h3.repartition__title
                i.icon: img(:src="repartition.icon")
                span {{ repartition[`name${$root.$i18n.locale}`] }}
            div.repartition__legend
                aside(v-for="(variable, index) in repartition.variables" :key="index")
                    span {{ variable[`name${$root.$i18n.locale}`] }}: 
                    div.elevation-fair(:style="{ backgroundColor: repartition.colors[index], color: repartition.colors.textColor[index] }") {{ getRepartitionWidth(repartition, variable) }}
            div.repartition__bar
                div(v-for="(variable, index) in repartition.variables" :key="index" :style="{ backgroundColor: repartition.colors[index], flex: getRepartitionWidth(repartition, variable), color: repartition.colors.textColor[index] }") 

        canton-table(v-if="selectedCantons[0]" :candidates="filteredCandidates" :selectedScenario="selectedScenario")

        div.repartition__votes
            p(v-if="baseTotalVotes !== totalVotes" v-html="$t('nbVotesText', { totalVotes: tl(totalVotes), baseTotalVotes: tl(baseTotalVotes), differenceVotes: tl(baseTotalVotes - totalVotes), differencePercentage: percentageDifference })")
            p(v-if="selectedScenario !== 'scenarioBase' && baseTotalVotes === totalVotes") {{ $t('nbVotesSimilarText') }}
</template>

<script>
import scenarios from '@/assets/data/scenarios';
import cantons from '@/assets/data/cantons.json';
import repartitions from '@/assets/data/repartitions';
import parties from '@/assets/data/parties.json';

import CantonTable from '@/components/CantonTable.vue';

export default {
    components: { CantonTable },

    props: { 
        elected: { type: Array, required: true },
        candidates: { type: Array, required: true },
        selectedScenario: { type: String, required: true },
        selectedCantons: { type: Array, required: true }
    },

    data () {
        return { repartitions }
    },

    computed: {
        baseTotalVotes () {
            const candidates = [].concat(...parties.map(p => p.candidates)).filter(c => c['scenarioBase']);
            if (!this.selectedCantons[0]) {
                return candidates.reduce(
                    (votes, candidate) => votes + parseInt(candidate.votes),
                    0
                );
            } else {
                return candidates.filter(c => this.selectedCantons.includes(c.districtCode.substr(-2))).reduce(
                    (votes, candidate) => votes + parseInt(candidate.votes),
                    0
                );
            }
        },
        totalVotes () {
            return this.filteredElected.reduce(
                (votes, candidate) => votes + parseInt(candidate.votes),
                0
            );
        },
        percentageDifference () {
            return ((this.baseTotalVotes - this.totalVotes) / this.baseTotalVotes * 100).toFixed(2);
        },
        scenario () { return scenarios.filter(s => this.selectedScenario === s.id)[0] },
        selectedCanton () { this.selectedCantons[0]; },
        filteredElected () {
            if (!this.selectedCantons[0]) return this.elected;
            return this.elected.filter(e => this.selectedCantons.includes(e.districtCode.substr(-2)));
        },
        filteredCandidates () {
            if (!this.selectedCantons[0]) return this.candidates;
            return this.candidates.filter(e => this.selectedCantons.includes(e.districtCode.substr(-2)));
        }
    },

    methods: {
        getRepartitionWidth (repartition, variable) {
            return this.filteredElected.filter(e => e[repartition.field] === variable.value).length
        },
        getCantonName (code) { return cantons.filter(c => c.code === code)[0][[`name${this.$root.$i18n.locale}`]] },
        tl (number) { return Number(number).toLocaleString(); }
    }
}
</script>

<style scoped>
.repartitions {
    margin: 3rem 0;
    padding: 3rem 0;
    background-color: var(--fair-gray--light);
}

.wrapper {
    max-width: var(--fair-content-width);
    padding: 0 var(--fair-content-margin);
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.wrapper > h2 {
    width: 100%;
    text-align: center;
}

.repartition {
    flex: 1 calc(50% - 4rem);
    text-align: center;
    margin: 1rem;
}

.repartition__title > * {
    vertical-align: middle;
    font-size: x-large;
}

.repartition__title > .icon {
    background-color: white;
    padding: 15px;
    margin-right: 30px;
}

.repartition__legend {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5rem;
    justify-content: center;
    margin-left: -2rem;
}

.repartition__legend > aside {
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.repartition__legend > aside > div {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin-left: .5rem;
    line-height: 2rem;
    text-align: center;
}


.repartition__bar {
    color: white;
    display: flex;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid var(--fair-gray);
}

.repartition__bar > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease-in-out;
    padding: 15px 0;
    overflow: hidden;
}

.repartition__votes { 
    width: 100%;
    margin: 30px 0 0 0;
}

.repartition__votes > p {
    max-width: 30em;
    margin: auto;
    position: relative;
    flex: 1 0;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
}


@media(max-width: 600px) {
    .wrapper {
        display: block;
    }
    .repartition {
        margin: 30px 0;
    }
}
</style>