:root {
    --fair-blue: #2d43b2;
    --fair-green: #00b48b;
    --fair-green--light: #ebf9f6;
    --fair-gray--light: #f4f7f9;
    --fair-gray--mid: #E4EFF1;
    --fair-gray--mid--actual: #f6f9fa;
    --fair-gray: #d4dde3;
    --fair-radius: 25px;
    --fair-content-width: 1590px;
    --fair-content-margin: 15px;
    --ef2019-breakpoint-lg: 1264px;
    --ef2019-breakpoint-md: 960px;
    --ef2019-breakpoint-sm: 600px;
}

html {
    box-sizing: border-box;
}

html *, html *:after, html *:before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #232323;
    line-height: 1.5;
    margin: 0;
    background: white;
}

strong { 
    font-weight: 800;
}

a {
    color: var(--fair-green);
    text-underline-position: under;
    text-decoration-thickness: 2px;
}

a.button, button {
    background-color: var(--fair-green);
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px 20px;
    min-width: 180px;
    display: block;
    line-height: 32px;
    text-align: center;
}

i.icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    text-align: center;
    border-radius: 15px;
}

i.icon > img { 
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.select {
    border: 1px solid var(--fair-gray);
    font-weight: 500;
    font-size: small;
    display: block;
    padding: 15px 15px;
    border-radius: 15px;
}

.select > * {
    display: block;
}

.select > span {
    line-height: 1.5;
    margin-bottom: 15px;
}

.select > select {
    background: white;
    font-size: larger;
    outline: none;
    border: 0;
    width: 100%;
}

.select > select > option {
    padding: .5em 0;
}

option:first-letter {
    text-transform: capitalize;
}

.select > select > option:checked {
    background-color: var(--fair-green--light);
}

label.checkbox {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    font-weight: 500;
}

@media(max-width: 600px) {
    label.checkbox {
        flex-direction: row;
    }

    label.checkbox input {
        order: -1;
    }
}

label.checkbox > span:first-letter {
    text-transform: capitalize;
}

label.checkbox > input[type="checkbox"] {
    background: white;
}

.elevation-fair {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
}

.elevation-3 {
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12) !important;
}

.elevation-14 {
    box-shadow: 0 7px 9px -4px rgba(0,0,0,.2),0 14px 21px 2px rgba(0,0,0,.14),0 5px 26px 4px rgba(0,0,0,.12) !important;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/Montserrat-Thin.ttf') format('truetype');
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}


@keyframes rotateDash {
    0% {
        stroke-width: 1;
        stroke-dasharray: 2;
    }
    50% {
        stroke-width: 3;
        stroke-dasharray: 5;
    }
    100% {
        stroke-width: 1;
        stroke-dasharray: 1;
    }
}

@font-face {
    font-weight:400;
    font-family:general;
    font-style:normal;
    src:url('/fonts/general.417ab55d36d8528b1900.eot?bkpua4');
    src:url('/fonts/general.417ab55d36d8528b1900.eot?bkpua4#iefix') format("embedded-opentype"),
    url('/fonts/general.f6549220caa0aae0ae50.ttf?bkpua4') format("truetype"),
    url('/fonts/general.e63dddf86009b83a7c08.woff?bkpua4') format("woff"),
    url('/fonts/general.f91e768f3e24b325d24e.svg?bkpua4#icomoon') format("svg");
    font-display:block;
}

[class*=" icon-general"],
[class^=icon-general] {
 font-weight:400;
 font-family:general,sans-serif!important;
 font-style:normal;
 font-variant:normal;
 line-height:1;
 text-transform:none;
 speak:never;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale
}

.icon-general.checked:before {
 color:#66ce62;
 content:""
}
.icon-general.hide-password:before {
 color:#d4dde3;
 content:""
}
.icon-general.left-arrow:before {
 color:#2d43b2;
 content:""
}
.icon-general.location-fill:before {
 color:#fff;
 content:""
}
.icon-general.lock-form:before {
 color:#2d43b2;
 content:""
}
.icon-general.mail-form:before {
 color:#2d43b2;
 content:""
}
.icon-general.ok:before {
 color:#00b48b;
 content:""
}
.icon-general.padlock:before {
 color:#fff;
 content:""
}
.icon-general.pdf:before {
 color:#2d43b2;
 content:""
}
.icon-general.phone-fill:before {
 color:#fff;
 content:""
}
.icon-general.right-arrow:before {
 color:#2d43b2;
 content:""
}
.icon-general.right-arrow-help .path1:before {
 color:#edf3f8;
 content:""
}
.icon-general.right-arrow-help .path2:before {
 margin-left:-1em;
 color:#2d43b2;
 content:""
}
.icon-general.share:before {
 content:""
}
.icon-general.user:before {
 color:#2d43b2;
 content:""
}
.icon-general.warning:before {
 color:#f60a20;
 content:""
}
.icon-general.winner:before {
 color:#fff;
 content:""
}
.icon-general.checkbox:before {
 color:#fff;
 content:""
}
.icon-general.switzerland:before {
 color:#fff;
 content:""
}
.icon-general.lamp:before {
 color:#fff;
 content:""
}
.icon-general.archive:before {
 color:#fff;
 content:""
}
.icon-general.add:before {
 color:#2d43b2;
 content:""
}
.icon-general.add-action:before {
 color:#00b48b;
 content:""
}
.icon-general.arrow-bottom:before {
 color:#00b48b;
 content:""
}
.icon-general.arrow-up:before {
 color:#50b18d;
 content:""
}
.icon-general.close:before {
 color:#2d43b2;
 content:""
}
.icon-general.close-modal .path1:before {
 color:#edf3f8;
 content:""
}
.icon-general.close-modal .path2:before {
 margin-left:-1em;
 color:#2d43b2;
 content:""
}
.icon-general.close-modal .path3:before {
 margin-left:-1em;
 color:#2d43b2;
 content:""
}
.icon-general.delete:before {
 color:#d8dde3;
 content:""
}
.icon-general.done .path1:before {
 color:#fff;
 content:""
}
.icon-general.done .path2:before {
 margin-left:-1em;
 color:none;
 content:""
}
.icon-general.done .path3:before {
 margin-left:-1em;
 color:#66ce62;
 content:""
}
.icon-general.download:before {
 color:#2d43b2;
 content:""
}
.icon-general.edit:before {
 color:#fff;
 content:""
}
.icon-general.email:before {
 color:#fff;
 content:""
}
.icon-general.error .path1:before {
 color:#fff;
 content:""
}
.icon-general.error .path2:before {
 margin-left:-1em;
 color:none;
 content:""
}
.icon-general.error .path3:before {
 margin-left:-1em;
 color:#fe2121;
 content:""
}
.icon-general.excel:before {
 color:#2d43b2;
 content:""
}
.icon-general.Groupe-3403:before {
 color:#fff;
 content:""
}