<template lang="pug">
    div.app-container
        header.site-header
            figure.site-logo
                img(src="/logo_png_HD.png" alt="FairElection Logo")
                figcaption: h1 {{$t('subtitle')}}
            nav.site-nav
                a.button(href="https://www.fairelection.ch") {{ $t('toFairElection') }}
                label.select.locale-switcher
                    select(v-model="locale")
                        option(value="fr") FR
                        option(value="de") DE
                        option(value="en") EN
        nuxt
        footer.site-footer
            section.site-referer
                p {{ $t('readyToFair') }}
                a.button.elevation-14(href="https://www.fairelection.ch") {{ $t('tryFair') }}
            fair-wave.site-wave
            div.site-contact
                section.site-location
                    img.site-logo(src="/logo-blanc.png" alt="FairElection Logo")
                    div.addresses
                        div.address
                            h4 {{ $t('contact') }}
                            address
                                img(src="/email.svg" alt="Email")
                                span info@fairelection.ch
                section.site-copyright Copyright &copy; 2020 FairElection - Made by #[a(href="https://tokiwi.ch/" target="_blank") tokiwi] & #[a(href="https://pierre.vanhulst.one" target="_blank") Pierre Vanhulst]
</template>

<script>
import FairWave from '@/components/FairWave.vue';

export default {
    components: { FairWave },
    head () {
        const i18nHead = this.$nuxtI18nHead({ addSeoAttributes: true });
        const title = `FairElection: ${this.$t('subtitle')}`;
        return {
            htmlAttrs: {
                ...i18nHead.htmlAttrs
            },
            title,
            meta: [
                { hid: 'description', name: 'description', content: this.$t('readyToFair') },
                { hid: 'twitter:title', name: 'twitter:title', content: title },
                { hid: 'og:title', property: 'og:title', content: title },
                { hid: 'twitter:description', name: 'twitter:description', content: this.$t('readyToFair') },
                { hid: 'og:description', property: 'og:description', content: this.$t('readyToFair') },
                ...i18nHead.meta
            ]
        }
    },

    data () {
        return {
            locale: 'fr',
        }
    },

    mounted () {
        this.locale = this.$root.$i18n.locale;
    },

    watch: {
        locale () { this.$router.push(this.switchLocalePath(this.locale)); }
    }
}
</script>

<style scoped>
.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: var(--fair-content-width);
    padding: 0 var(--fair-content-margin);
    margin: auto;
}

.site-logo {
    max-width: 350px;
}

.site-logo:after {
    content: "";
    position: absolute;
    top: -411px;
    left: -117px;
    background-color: var(--fair-gray--mid--actual);
    width: 713px;
    height: 678px;
    z-index: -1;
    border-radius: 50%;
    max-width: 100%;
}

.site-logo > * {
    max-width: 100%;
}

.site-logo > figcaption > h1 {
    font-size: 21.8px;
    font-weight: 300;
    text-align: right;
    padding: 0 3px;
    margin-top: -35px;
}

.site-nav {
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.locale-switcher {
    margin: 15px 30px;
}

.site-footer {
    margin-top: 90px;
}

.site-footer a {
    color: white;
}

.site-referer {
    font-size: 40px;
    max-width: var(--fair-content-width);
    padding: 0 var(--fair-content-margin);
    margin: 90px auto;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.site-referer > p {
    flex: 0 1 900px;
}

.site-referer > a.button {
    font-size: 32px;
    width: max-content;
    white-space: nowrap;
    border-radius: 60px;
    margin-left: 90px;
    padding: 32px 50px;
}

.site-wave {
    height: 233px;
    width: 100%;
    margin-bottom: -15px;
}

.site-contact {
    background-color: var(--fair-green);
    color: white;
}

.site-location {
    max-width: var(--fair-content-width);
    padding: 0 var(--fair-content-margin);
    margin: 0 auto 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.site-location > .addresses {
    flex: 0 0 50%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.address > h4 {
    margin: 15px 0;
}

.address > address {
    padding-left: 30px;
    font-style: normal;
    position: relative;
}

.address > address > span {
    display: block;
}

.address > address > img {
    position: absolute;
    left: 0;
}

.site-copyright {
    border-top: 1px solid white;
    max-width: var(--fair-content-width);
    padding: 0 var(--fair-content-margin);
    margin: auto;
    text-align: center;
    padding: 30px 0 60px 0;
}

@media(max-width: 600px) {
    .site-referer {
        font-size: 20px;
    }
    .site-referer > a.button {
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        padding: 16px 25px;
    }
    .site-copyright {
        padding: 30px 30px 60px;
    }
}
</style>
